@font-face {
  font-family: 'ComicNeue';
  src: url('ComicNeue-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'slideyouran';
    src: url('slideyouran.ttf') format('truetype');
}

@font-face {
  font-family: 'ZCOOL KuaiLe';
  src: url('ZCOOLKuaiLe-Regular.ttf') format('truetype');
}